<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FORM</title>
</head>
<body>
    <form action="/submit" method="POST">
        <input name="_csrf" value="<%=csurfToken%>" type="hidden">
        <input type="text" name="username" placeholder="Enter your username...">
        <input type="submit" value="Submit">
    </form>
</body>
</html>